body {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.container {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(226, 114, 91);
}

.calculator-container {
    border-radius: 1%;
    border: 1px solid green;
    padding: 32px 16px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: rgb(98, 98, 179);
}

.display {
    border: 1px solid slateblue;
    height: 60px;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: end;
    background-color: beige;
    font-size: 32px;
}

.first-row {
    margin-bottom: 8px;
    display: flex;
    justify-content: flex-end;
}

.other-rows {
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
}

button {
    width: 64px;
    height: 64px;
    color: ivory;
    background-color: rgb(6, 174, 174);
    font-weight: 1000;
    font-size: 24px;
    border-radius: 50%;
    border-color: teal;
}

h1 {
    padding: 16px 16px;
    background-color: rgb(226, 114, 91);
    margin: 0px;
    color: ivory;
}