/* Apply to all elements and pseudo-elements */
/* With border-box, the width and height of an element include the content, 
padding, and border. */
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
}

.container {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    /* border: 1px solid rgb(226, 114, 91); */
}

.calculator-container {
    border-radius: 1%;
    /* border: 1px solid green; */
    padding: 2rem 1rem;
    width: 50%;
    max-width: 35ch;
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: rgb(98, 98, 179);
}

.display {
    border: 1px solid slateblue;
    min-height: 4.5rem;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: end;
    background-color: beige;
    font-size: 2rem;
}

.first-row {
    display: flex;
    justify-content: flex-end;
}

.other-rows {
    margin-top: 0.8rem;
    display: flex;
    justify-content: space-between;
}

button {
    width: 25%;
    min-height: 64px;
    color: ivory;
    background-color: rgb(6, 174, 174);
    font-weight: 1000;
    font-size: 1.4rem;
    border-radius: 50%;
    border-color: teal;
}

h1 {
    padding: 1rem 1rem;
    background-color: rgb(226, 114, 91);
    color: ivory;
}