body {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.container {
    display: flex;
    justify-content: center;
    border: 1px solid orangered;
}

.calculator-container {
    border-radius: 1%;
    border: 1px solid green;
    padding: 32px 16px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.display {
    border: 1px solid slateblue;
    height: 60px;
    padding: 10px;
    background-color: beige;
}

.first-row {
    display: flex;
}